// Define variables for your color scheme

// For example:
$blue: #162447;
$red: #f40552;
$pink: #eb6383;
$purple: #6a097d;
$orange: #ffd31d;
$beige: #ffdcb4;
$green: #74d4c0;
$gray: #0E0000;
$yellow: #f6f578;
$light-gray: #F4F4F4;
$white: #faf2f2;
